:root {
    --primary-color: #F5F7F8;
    --Preverse-color: #0a0a0a;
    --secondary-color: #FFF078;
    --tertiary-color: #FF4191;
    --quaternary-color: #E90074;
    --text-color: #0a0a0a;
    --Treverse-color: #F5F7F8;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-color);
    display: grid;
    grid: 
    "header"   4rem
    "nav"      0
    "services" auto
    "about"    auto
    "plans"    auto
    "clients"  auto
    "contact"  auto
    "footer"   4rem ;
}
.header {
    position:fixed;
    width: 100%;
    grid-area: header;
    color: var(--text-color);
    display: flex;
    place-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: var(--primary-color);
}
.header img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.header i {
    font-size: 3rem;
}
.header h1 {
    margin: 0;
}
.abrir_menu,
.cerrar_menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}
.abrir_menu:focus:not(:focus-visible),
.cerrar_menu:focus:not(:focus-visible) {
    outline: none;
}
.cerrar_menu{
    position: absolute;
    align-self: flex-end;
    padding: 7px 30px;
    top: 0;
}
.nav {
    grid-area: nav;
    color: var(--text-color);
}
.nav a::after {
    content: none;
}
.nav a:hover,
.nav a.selected {
    color: var(--secondary-color);
}
.nav i {
    font-size: 3rem;
}
.nav-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    place-items: center;
    background-color: var(--primary-color);
    line-height: 2.5rem;
    font-size: 2rem;
    opacity: 0;
    overflow-y: auto;
    pointer-events: none;
    transition: opacity 0.3s;
}
.nav-list a {
    text-decoration: none;
    color: var(--text-color);
}
.services {
    grid-area: services;
    color: var(--text-color);
    grid: 
    "services-1" auto
    "services-2" auto / 
    auto;
    place-items: center;
    text-align: center;
    scroll-margin-top: 3.5rem;
    margin-bottom: 5rem;
}
.services-1 {
    grid-area: services-1;
    margin: 1rem;
}
.services-1 img {
    width: 30rem;
    height: 20rem;
}
.services-2 {
    grid-area: services-2;
    text-align: center;
    margin: 1rem;
}
.about {
    grid-area: about;
    color: var(--text-color);
    display: grid;
    grid: 
    "about-1" auto
    "about-2" auto / 
    auto;
    place-items: center;
    text-align: center;
    scroll-margin-top: 3.5rem;
    margin-top: 5rem;
}
.about-1 {
    grid-area: about-1;
    text-align: center;
    margin: 1rem;
}
.about-2 {
    grid-area: about-2;
    text-align: center;
    margin: 1rem;
}
.about img {
    width: 10rem;
    height: 15rem;
    border-radius: 10%;
}
.plans {
    grid-area: plans;
    color: var(--text-color);
    text-align: center;
    overflow-x: auto;
    scroll-margin-top: 10rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
table{
    color: var(--text-color);
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 2rem;
}
thead {
    background-color: var(--secondary-color);
    cursor: pointer;
}
th {
    padding: 20px 15px;
}
td {
    padding: 15px;
    border-right: 2px solid var(--secondary-color);
    border-left: 2px solid var(--secondary-color);
}
tbody{
    cursor: pointer;
}
.fijo {
    background-color: var(--tertiary-color);
}
table:has(tr > *:nth-child(1):hover) tr > *:nth-child(1),
table:has(tr > *:nth-child(2):hover) tr > *:nth-child(2),
table:has(tr > *:nth-child(3):hover) tr > *:nth-child(3),
table:has(tr > *:nth-child(4):hover) tr > *:nth-child(4),
table:has(tr > *:nth-child(5):hover) tr > *:nth-child(5),
table:has(tr > *:nth-child(6):hover) tr > *:nth-child(6) {
    background: var(--secondary-color);
}
.clients {
    grid-area: clients;
    color: var(--text-color);
    display: grid;
    grid: 
    "clients-1" auto
    "clients-2" auto / 
    auto;
    place-items: center;
    text-align: center;
    scroll-margin-top: 3.5rem;
    margin-bottom: 5rem;
}
.clients img {
    height: 20rem;
    width: 20rem;
    margin: 1rem;
}
.clients-1 {
    text-align: center;
    margin: 1rem;
}
.clients-2 {
    text-align: center;
    margin: 1rem;
}
.contact {
    grid-area: contact;
    color: var(--text-color);
    display: grid;
    grid: 
    "form-txt"    auto
    "input-group" auto  /
    auto;
    place-items: center;
    text-align: center;
    scroll-margin-top: 3.5rem;
}
.input-group {
    background: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--secondary-color);
    grid-area: input-group;
}
.input-group form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5rem;
    padding-right: 5rem;
}
.input-group form label {
    display: block;
}
.input-group form p { 
    margin: 0;
    padding: 1em;
}
.input-group form .block {
    grid-column: 1 / 3;
}
.input-group form input,
.input-group form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: var(--text-color);
    border-bottom: 1px solid var(--tertiary-color);
}
.btn {
    background: var(--tertiary-color)!important;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: var(--Treverse-color) !important;
}
.btn:hover,
.btn:focus {
    background: var(--quaternary-color) !important;
    color: var(--text-color);
    transition: background-color 1s ease-out;
    outline: 0;
}
.form-txt {
    background: var(--tertiary-color);
    box-shadow: 0 0 20px var(--tertiary-color);
    grid-area: form-txt;
    max-width: 630px;
}
.form-txt p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 2rem;
}

.footer {
    grid-area: footer;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    text-align: center;
    place-items: center;
    justify-content: space-around;
}
.footer a, ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    color: var(--text-color);
    display: none;
}
.copy {
    display: flex;
    flex-direction: row;
    text-align: center;
    place-items: center;
}
.copy a {
    display: unset;
}
.menu_opened {
    opacity: 1;
    pointer-events: all;
}
